/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #bfedf5;
}

.text-center {
    text-align: center;
    margin-top: 40px;
}
.img{
    width: 5rem;
    height: 5rem;
}
.full-width{
    width: 90%;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.buttons{
    margin: 20px;
  }

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.login-card {
    border-radius: 10%;
}